html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(31, 30, 30);
    ;
}

p {
    margin-right: 100;
    margin-left: 100;
}


.topnav {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.topnav a {
    float: left;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 17px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: auto;
    height: auto;

}

.topnav a:hover {
    color: rgb(219, 146, 11);
    transition: 0.6s;
}

@media screen and (max-width: 600px) {
    .topnav a {
        top: 0;
        right: 0;

        width: 100%;
    }
}

.earthquakesimage {
    width: 49%;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: white;
    line-height: 1.5;
    max-width: 99%;
}

.flood {
    width: 49%;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .topnav {
     position: relative;
    }
  }